<mat-card class="my20">
    <h1 class="text-center mb20">Add new Category</h1>

    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <form (ngSubmit)="onSubmit()">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input  autofocus type="text" name="title" matInput placeholder="Category Title" [(ngModel)]="category.setTitle">
                        </mat-form-field>
                        
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea  name="description" matInput placeholder="Category Title" rows="15" [(ngModel)]="category.setDescription"></textarea>
                        </mat-form-field>

                        <div class="container text-center mt15">
                            <button mat-raised-button class="btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>