<mat-toolbar color="primary">
    <a [routerLink]="'/'" mat-icon-button class="example-icon" arial-label="Example icon-button with menu icon">
        <mat-icon>menu_books</mat-icon>
    </a>

    <span>Interview Preparation</span>
    <span class="example-spacer"></span>

    <a *ngIf="!loginService.isLoggedIn()" [routerLink]="'/login'" style="margin-right: 50px;" mat-icon-button class="example-icon favorite-icon" aria-label = "Example icon-button with heart icon">
        Login
    </a>

    <a *ngIf="!loginService.isLoggedIn()" [routerLink]="'/signup'" style="margin-right: 70px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Sign Up
    </a>

    <button *ngIf="loginService.isLoggedIn() && currentUser" mat-button style="margin-right: 70px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/admin/profile">
        User: {{ loginService.getUser().username }}
    </button>

    <a *ngIf="loginService.isLoggedIn()" (click)="logOut()" mat-icon-button style="margin: 0px 50px 0px 50px;" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Sign out
    </a>
</mat-toolbar>