<div class="bootstrap-wrapper" *ngIf="!isSent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <mat-card style="margin-top: 70px;">
                    <mat-card-content>
                      <h3><b>Instructions</b></h3>
                      <ul>
                        <li>Do not refresh the page otherwise you will get new questions in this quiz</li>
                        <li>Don't change the tabs</li>
                        <li>Don't minimize the window</li>
                      </ul>
                    </mat-card-content>
                  </mat-card>
            </div>

            <div class="col-md-7">
                <ng-container *ngIf="listQuestions.length != 0 ">
                    <h1 class="mt20">
                        <b>{{ listQuestions[0].getQuestionnaire.title }}</b> Ongoing
                    </h1>
                </ng-container>

                <mat-card *ngFor="let questions of listQuestions;let i=index" class="mt20">
                    <mat-card-content class="mt20 ml30 mb20">
                        <p><b>{{ i + 1 }}.-  </b><span [innerHTML]="questions.getContent"></span></p>
                        <mat-divider></mat-divider>
                        <div class="row mt20">
                            <div class="col-md-8 mt10">
                                <input [(ngModel)]="questions.setUserAnswer" type="radio" [value]="questions.getOption1" name={{i}}> {{ questions.getOption1 }}
                            </div>
                            <div class="col-md-8 mt10">
                                <input [(ngModel)]="questions.setUserAnswer" type="radio" [value]="questions.getOption2" name={{i}}> {{ questions.getOption2 }}
                            </div>
                            <div class="col-md-8 mt10">
                                <input [(ngModel)]="questions.setUserAnswer" type="radio" [value]="questions.getOption3" name={{i}}> {{ questions.getOption3 }}
                            </div>
                            <div class="col-md-8 mt10">
                                <input [(ngModel)]="questions.setUserAnswer" type="radio" [value]="questions.getOption4" name={{i}}> {{ questions.getOption4 }}
                            </div>
                        </div>
                    </mat-card-content>
                  </mat-card>

                <div class="container text-center mt20 mb20">
                    <button (click)="sendQuestionnaire()" mat-raised-button color="primary">Send Questionnaire</button>
                </div>
            </div>

            <div class="col-md-3">
                <mat-card style="margin-top: 70px;">
                    <mat-card-header class="mt10">
                        <mat-card-title>Timer</mat-card-title>
                    </mat-card-header>

                    <mat-card-subtitle class="ml20">
                        The questionnaire will be sent automatically when the timer reaches 0.
                    </mat-card-subtitle>

                    <mat-card-content class="mb20">
                        <h1 class="text-center">{{ getFormattedTime() }}</h1>
                        <mat-spinner mode="determinate" style="margin: auto;" [value]="( timer / ( listQuestions.length * 2 * 60 ) * 100 )"></mat-spinner>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<div class="bootstrap-wrapper" *ngIf="isSent">
    <div class="container mt20">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="mt10">
                        Test result
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content class="text-center">
                    <h1>Points Earned : {{ pointsEarned }}</h1>
                    <h1>Correct Answers : {{ correctAnswers }}</h1>
                </mat-card-content>

                <mat-card-actions class="text-center mb20">
                    <button mat-raised-button color="primary" (click)="printScreen()">Print</button>
                    <button mat-raised-button color="accent" [routerLink]="'/user-dashboard/0'">Home</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>